{% extends "basic/base_not_logged.html" %}
{% block meta_title %}Main{% endblock meta_title %}
{% block content %}
  <div class="row">
    <div class="col-xs-12" style="background-color: #b0c4de; height: 150px;">
    </div>
  </div>
  <div class="row" style="height: 20px;"></div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <a class="btn btn-primary btn-lg btn-block" href={% url 'login' %}>Login into system</a>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <div class="row" style="height: 20px;"></div>
  <div class="row">
    <div class="col-xs-12" style="background-color: #d69ae5; height: 150px;">
    </div>
  </div>
  <div class="row" style="height: 20px;"></div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <a class="btn btn-primary btn-lg btn-block" href={% url 'add_user' %}>Try Service!</a>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <div class="row" style="height: 20px;"></div>
  <div class="row">
    <div class="col-xs-12" style="background-color: #c3ff66; height: 150px;">
    
    </div>
  </div>
{% endblock content %}