<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>User Data</title>
  <!-- Include styles -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
  <h1>User Data</h1>
  <div>
    <a href={% url 'shop_sources' %}>Add Shop</a>
  </div>
<!-- JavaScript section -->
<script
        src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script
        src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>