/* Styles for base_logged template */
#header {
	background-color: #555;
}

#main_content {
	
}

#footer {
	background-color: #555;
}

#buttons_group {
	float: right;
	margin-top: 20px;
}

#copyright {
	float: right;
	color: white;
}

#logo {
	color: white;
	text-decoration: none;
}